<div ng-controller="SuccessCtrl">
    <div class="page msg_success js_show">
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">操作成功</h2>
                <p class="weui-msg__desc">请于本周日（5月21日）上午9:00到北辰实验中心三楼A区参加素质测试，邀请函将在测试结束后一周内发出，请保持手机、电子邮箱畅通。</p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a href="javascript:void(0);" ng-click="back()" class="weui-btn weui-btn_primary">返回</a>
                </p>
            </div>
        </div>
    </div>
</div>

